<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAuthentification</servlet-name>
        <servlet-class>web.ServletAuthentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAuthentification</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuthentification</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ServletAuthentification</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PoterieServlet</servlet-name>
        <servlet-class>web.PoterieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/addPoterie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/listePoterie</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/listePoterieClient</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PoterieServlet</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
</web-app>
